<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>
  <div class="app">

    <%- include('nav.ejs') %>

    <section class="container">
      <div class="content">
        <h3 class="question">what is this?</h3>

        <p class="reason">
          tells you if the district line is f--ked...
        </p>

        <p class="reason">
          *notifications coming soon*
        </p>

        <div>
          <a href="/" class="question">is it f--ked?</a>
        </div>
      </div>
    </section>

    <%- include('footer.ejs') %>

  </div>
</body>

</html>