<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>is the district line f*cked?</title>
</head>

<body>
  <% if (distruptions.length > 0) { %>
    <h1>Yes.</h1>
  <% } else { %>
    <h1>Surprisingly No.</h1>
  <% } %>
</body>
</html>