<nav class="nav">
  <a class="nav__link" href="/">is it f--ked?</a>
  <a class="nav__link" href="/about">what is this?</a>
  <a class="nav__link" href="https://github.com/SamuelHornsey/is-the-district-line-f--cked" target="_blank">source code!</a>
</nav>