<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

<body>
  <div class="app">

    <%- include('nav.ejs') %>

    <section class="container">
      <div class="content">
        <h3 class="question">is the district line f--ked?</h3>

        <p class="reason">
          <% if (distruptions.length > 0) { %>
            <%= distruptions[0].reason %>
          <% } else { %>
            it's not f--ked today!
          <% } %>
        </p>

        <h3 class="date">
          <%= date %>
        </h3>

        <div>
          <a href="/" class="question">is it f--ked?</a>
        </div>
      </div>
    </section>
  </div>
</body>

</html>
