body {
  margin: 0px;
  padding: 0px;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007D32;
}

.content {
  text-align: center;
}

.main {
  font-size: 50px;
  color: #393939;
}

.question {
  font-size: 18px;
  color: #E8E8E8;
}

.date {
  font-size: 18px;
  color: #E8E8E8;
}